@media only screen and (max-width: 1060px) {
  html {
    font-size: 50% !important;
  }
  .header__title {
    padding: 0 4.5rem;
  }
  h1 {
    font-size: 5rem;
  }
  h4 {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 850px) {
  h1 {
    font-size: 4.5rem;
  }
  h4 {
    font-size: 2rem;
  }

  .modal {
    padding: 4rem 6rem;
  }

  .modal__header {
    font-size: 2.5rem !important;
  }
}

@media only screen and (max-width: 800px) {
  .hide {
    display: none !important;
  }

  .nav.sticky .nav__links {
    top: 9rem !important;
    margin-left: -48px !important ;
  }
  .nav {
    position: relative;

    &__toggle {
      display: block;
      width: 30px;
      height: 30px;
      border: none;
      background: none;

      &:hover {
        cursor: pointer;
      }

      &-icon {
        border: 1px solid $color-primary-darker;
        margin: 5px;
      }
    }

    &__links {
      position: absolute;
      width: 100vw;
      background-color: #37383d;
      margin-left: -73px;
      padding: 8rem 0;
      top: 8.5rem;
      display: flex;
      flex-direction: column;
    }

    &__item {
      padding: 1rem 0;
      display: flex;
      justify-content: center;
      margin: 0;
    }

    &__link {
      color: #fff !important;

      &:link {
        display: inline;
        display: inherit;
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .header__title {
    justify-content: center;
    padding: 0;
    flex-direction: column;

    &--img {
      width: 35%;
      margin-top: 3rem;
    }
  }
  h1 {
    font-size: 4rem;
  }
  h4 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  .features__box {
    flex-direction: column;
  }

  .features__blur,
  .features__feature {
    width: 100%;
  }

  .mb-5 {
    margin-bottom: 5rem;
  }

  .mt-5 {
    margin-top: 5rem;
  }

  .fmt-4 {
    margin-top: -4rem !important;
  }

  .operations {
    &__content {
      padding: 2.5rem 3rem 6.5rem 3rem;
    }

    &__icon {
      height: 5rem;
      width: 5rem;
    }

    .btn {
      font-size: 1.4rem;
      padding: 1.25rem 1.5rem;
    }
  }

  .footer {
    &__nav {
      flex-wrap: wrap;
    }

    &__item {
      margin-bottom: 3rem;
    }
  }

  .modal {
    margin: 0;
    gap: 0.5rem 1rem !important;
    padding: 5rem 3rem !important;
  }

  .modal__header {
    font-size: 1.5rem !important;
    margin-bottom: 2.5rem;

    br {
      display: none;
    }
  }

  .modal__form {
    margin: 0 !important;
  }

  .modal__form label {
    font-size: 1rem !important;
  }

  .modal__form input {
    font-size: 1.4rem;
    padding: 0.5rem !important;
    margin-bottom: 1rem;
    width: 100%;
  }

  .modal .btn {
    font-size: 1rem !important;
    padding: 0 !important;
    background: none;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 550px) {
  .dots {
    bottom: 0% !important;
  }
}

@media only screen and (max-width: 495px) {
  html {
    font-size: 45% !important;
  }
  .nav.sticky {
    padding: 0 2rem !important;
  }
  .nav.sticky .nav__links {
    margin-left: -14px !important ;
  }
  .nav {
    padding: 0;

    &__links {
      margin-left: -22px;
    }
  }
  .header__title {
    &--img {
      width: 60%;
    }
  }
  h1 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  .operations {
    &__content {
      &--active {
        display: flex;
        flex-direction: column;
        margin-top: -2rem;
      }
    }
    &__icon,
    &__header {
      margin-bottom: 2rem;
    }

    .btn {
      font-size: 1.3rem;
      width: 75px;
      height: 75px;
      padding: 1.25rem 1.5rem;
      border-radius: 10rem;
    }
  }
  .section__header {
    font-size: 3rem !important;
  }
}

@media only screen and (max-width: 450px) {
  .testimonial::before {
    display: none !important;
  }
  .testimonial__header {
    font-size: 2rem;
  }

  .testimonial__text {
    font-size: 1.3rem;
  }

  .testimonial__photo {
    width: 5.5rem;
  }

  .testimonial__name {
    font-size: 1.5rem;
  }

  .testimonial__location {
    font-size: 1.3rem;
  }

  .slider__btn {
    font-size: 2.25rem !important;
    width: 3.5rem !important;
    height: 3.5rem !important;
  }
}

@media only screen and (max-width: 420px) {
  .operations .btn {
    width: 65px;
    height: 65px;
    font-size: 1rem;
  }
}
